:root {
  --nav: #34495e;
  --text: #ffffff;
  --nav-hover: #1ab89a;
  --nav-icon: #4b6075;
  --button: #1abc9c;
  --button-hover: #48c9b0;
  --grid-outline: #afd8f8;
  --shortest-path: #fffe6a;
  --transition-1: rgba(0, 0, 66, .75);
  --transition-2: rgba(17, 104, 217, .75);
  --transition-3: rgba(0, 217, 159, .75);
  --visited: #40cee3;
  --icons: #420863;
  --wall: #0c3547;
  --node-size: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: Lato, Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: .5rem 1rem;
  background: var(--nav);
}

a, button {
  cursor: pointer;
  padding: .5rem 1rem;
  font-weight: 600;
  color: var(--text);
}

a:hover,
a:focus,
button:hover,
button:focus {
  color: var(--nav-hover);
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  border-radius: 4px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
}

.nav__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#visualize {
  background: var(--button);
}

#visualize:hover,
#visualize:focus {
  color: var(--text);
  background: var(--button-hover);
}

.nav__item-value {
  margin-right: .25rem;
}

.dropdown__items {
  display: none;
  position: absolute;
  background: var(--nav);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown__items {
  display: block;
}

.dropdown__item {
  text-align: left;
  display: block;
}

.info,
.info__item {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 1rem auto;
  flex-wrap: wrap;
}

.item__item > i {
  color: var(--icons);
}

.info__item > .node {
  border: 1px solid var(--grid-outline);
}

.info__item-text {
  margin-left: .5rem;
  color: var(--nav);
}

.grid {
  text-align: center;
}

.grid__row,
.node {
  height: var(--node-size);
  border: 1px solid var(--grid-outline);
  border-width: 0;
}

.grid__row > .node:first-child {
  border-left-width: 1px;
}

.grid__row:first-child > .node {
  border-top-width: 1px;
}

.node {
  display: inline-block;
  width: var(--node-size);
  border-right-width: 1px;
  border-bottom-width: 1px;
  position: relative;
  overflow: hidden;
}

.node > i {
  display: inline-block;
  color: var(--icons);
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

.visited,
.visited-animate {
  background: var(--visited);
}


.visited-animate {
  animation: visitedAnimation 1.5s;
}

.shortest,
.shortest-animate {
  border: 1px solid var(--shortest-path);
  background-color: var(--shortest-path);
}

.shortest-animate {
  animation: shortestAnimation 1.5s;
}

.wall {
  background: var(--wall);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: var(--transition-1);
    border-radius: 100%;
  }
  50% {
    background: var(--transition-2);
  }
  75% {
    transform: scale(1.2);
    background-color: var(--transition-3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shortestAnimation {
  0% { transform: scale(.6); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
